body{
    background-color: grey;
    scroll-behavior: smooth;
}

@font-face {
    font-family: valo;
    src: url(font/Valorant\ Font.ttf);
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    color: White;
}

.header img{
    margin: 30px;
}

.header ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    color: white;
    margin-right: 10%;
}

.header a{
    color: white;
    text-decoration: none;
    font-family: Secular One;
    font-size: 18px;
}

.header a:hover{
    color: #E94B3CFF
}


.header li{
    margin: 0% 13%;
    font-size: 22px;
}

.title{
    display: flex;
    flex-direction: column;
    background-image: url(images/titleimg1.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 200px;
}

.title h1{
    font-family: valo;
    font-size: 120px;
    margin-bottom: 0%;
    margin-top:0%;
}

.title h3{
    font-family: Anton;
    font-size: 30px;
    margin-top: 0%;
    letter-spacing: 1px;
}

@media (max-width: 992px){
    .title h1{
        font-size: 50px;
    }

    .title h3{
        font-size: 15px;
    }
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2926FF;
}

.about img{
    position: relative;
    max-width: 100%;
    height: auto;
    padding-left: 5%;
    align-self: flex-start;
}

.about h1{
    position: absolute;
    margin: 7% 10% 0% 50%;
    font-family: Anton;
    font-size: 70px;
    letter-spacing: 3px;
    color: white;

}

.about p{
    position: absolute;
    margin: 14% 10% 0% 50%;
    text-align: center;
    padding: 1%;
    font-size: 22px;
    font-family: Spartan;
    letter-spacing: 0px;
    color: white;
}

.about a{
    position: absolute;
    background-color: white;
    font-family: secular one;
    font-size: 18px;
    padding: 0.5%;
    margin: 28% 10% 0% 50%;
}

.about a:hover{
    background-color:  #E94B3CFF;
    color: white;
}

@media (max-width: 992px){
    .about{
        position: relative;
    }
    .about h1{
        margin-top: 45%;
        margin-left: 25%;
        margin-right: 25%;
        position: absolute;
        font-size: 30px;
    }

    .about img{
        padding: 0% 2%;
        position: unset;
        margin-bottom: 35%;
        align-self: center;
    }

    .about p{
        margin-top: 55%;
        margin-left: 25%;
        margin-right: 25%;
        position: absolute;
        font-size: 15px;
    }

    .about a{
        margin-top: 75%;
        margin-left: 25%;
        margin-right: 25%;
        position: absolute;
        font-size: 18px;
    }
}

.video-title{
    background-color: rgb(235, 225, 217);
    text-align: center;
    padding-bottom: 0%;
    padding: 3%;
    font-family: Anton;
    font-size: 30px;
    letter-spacing: 3px;
}

.about-video{
    background-color: rgb(235, 225, 217);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-video iframe{
    padding-bottom: 10%;
}

@media (max-width: 992px){
    .video-title{
        font-size:20px;
    }
}

.agents{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #E94B3CFF;
    padding-top: 4%;
    padding-bottom: 4%;
}

.agents img{
    position: relative;
    max-width: 50%;
    height: auto;
    padding-right: 2%;
    align-self: flex-end;
}

.agents h1{
    position: absolute;
    list-style: none;
    margin-top: 8%;
    margin-right: 50%;
    margin-left: 10%;
    text-align: center;
    font-family: Anton;
    font-size: 70px;
    letter-spacing: 3px;
    color: white;
}

.agents p{
    position: absolute;
    list-style: none;
    margin-top: 18%;
    margin-right: 50%;
    margin-left: 10%;
    text-align: center;
    font-size: 22px;
    font-family: Spartan;
    letter-spacing: 0px;
    color: white;   
}

.agents a{
    position: absolute;
    background-color: white;
    font-family: secular one;
    font-size: 20px;
    padding: 0.5%;
    margin-top: 30%;
    margin-right: 50%;
    margin-left: 10%;
}

.agents a:hover{
    background-color:black;
    color: white;
}

@media (max-width: 992px){
    .agents{
        position: relative;
    }
    .agents h1{
        margin-top: 47%;
        margin-left: 25%;
        margin-right: 25%;
        position: absolute;
        font-size: 30px;
    }

    .agents img{
        padding: 0% 1%;
        position: unset;
        margin-bottom: 35%;
        align-self: center;
    }

    .agents p{
        margin-top: 55%;
        margin-left: 25%;
        margin-right: 25%;
        position: absolute;
        font-size: 15px;
    }

    .agents a{
        margin-top: 70%;
        margin-left: 25%;
        margin-right: 25%;
        position: absolute;
        font-size: 18px;
    }
}

.maps{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/maps2.png");
    background-size: cover;
    background-position: bottom;
}

.maps h1{
    margin: 8% 10% 1% 70%;
    font-family: Anton;
    font-size: 70px;
    letter-spacing: 3px;
}

.maps p{
    margin: 0% 5% 13% 65%;
    text-align: center;
    font-size: 25px;
    font-family: Spartan;
    letter-spacing: 0px;
    color: Black;
}

.maps a{
    position: absolute;
    background-color: white;
    font-family: secular one;
    font-size: 20px;
    padding: 0.5%;
    margin: 28% 5% 8% 65%;
    color: #E94B3CFF;
}

.maps a:hover{
    background-color:black;
    color: white;
}

@media (max-width: 992px){
    .maps{
        background-image: url("images/maps.jpg");
        background-size:cover;
    }

    .maps h1{
        margin: 10% 15% 0% 15%;
        font-size: 40px;
    }

    .maps p{
        padding: 1%;
        margin: 3% 15% 16% 15%;
        background-color: rgb(235, 225, 217);
        border: 2px solid black;
        font-size: 18px;
    }

    .maps a{
        margin: 40% 15% 10% 15%;
        font-size: 18px;
    }

    .footer a{
        font-size: 12px;
    }
}

footer{
    background-color: black;
}

footer ul{    
    display: flex;
}

footer a{
    color: white;
    font-family: secular one;
    font-size: 18px;
}

footer li{
    margin: 17px 20px;
}

footer a:hover{
    color: #E94B3CFF;
}
